#news_url_form_group {
  width: 90vw;
}

#button-container {
  margin-top: 1rem;
  button {
    color: white;
    &:disabled {
      background-color: grey;
    }
  }
}

#check_button {
  background-color: darkseagreen;
}

#reset_button {
  background-color: lightcoral;
  margin-left: 1rem;
}

#url-field {
  p {
    color: white;
  }
  width: 70vw;
}

#classification_container {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .none {
    display: none;
  }

  .fake_variant {
    background-color: crimson;
    color: white;
  }

  .not_fake_variant {
    background-color: mediumseagreen;
    color: black;
  }

  #classification_text_container {
    padding: 10px;
    text-align: left;

    #classification_pre_text {
      margin: 0;
    }

    #classification_text {
      margin: 0;
      font-size: 4rem;
      font-weight: bold;
      font-style: italic;
      line-height: 3rem;
    }
  }
}

